<h1>catalogo de juegos</h1>
    
        <p>
            La Playstation 2 cuenta con un gran número de títulos disponibles (más de 3500, teniendo en cuenta todo el mundo, 
            ya que en realidad no salieron todos esos juegos en un solo continente).
            En el transcurso de sus grandes ventas, se dan lanzamientos de muchos títulos importantes y algunas exclusivas que favorecieron a la consola
            ejemplos de estos son los siguientes:
        </p>
        <ul>
            <li>Resident Evil</li>
            <li>God of War</li>
            <li>Gran Turismo</li>
            <li>Final Fantasy</li>
            <li>Devil May Cry</li>
        </ul>
        <p>Entre otros...</p>
        
        <h1>Juegos a la venta</h1>
        <p>Elija uno de los siguientes juegos para agregar al carrito de compra</p>
        <div class="container ">
            <div class="row">
                <div class="col-lg-8 col-md-12 mb-4">
                    <app-game-list></app-game-list>
                </div>
                <div class="col-lg-4 col-md-12 mb-4">
                    <app-game-cart></app-game-cart>
                </div>
            </div>
        </div>
