<h1>acerca de la consola</h1>
    
    <div class="texto_imagen">
        <p>Fue lanzada por primera vez el 4 de marzo del año 2000 en Japón, y unos meses después en el resto del mundo. 
            Es la videoconsola más vendida de la historia, con más de 155 millones de unidades vendidas. 
        Es también la que más títulos posee, esta cantidad de títulos se debe a la extraordinaria acogida por parte del público 
        en general hacia la misma, lo que incluso la consolidó como la consola con más tiempo en el mercado
        </p>
        <img src="assets/images/consolaps2.jfif" alt="Consola Ps2">
    </div>
    
<h1>caracteristicas</h1>
    
    <div>
        <p>Entre las principales características distintivas destacan su procesador central conocido como Emotion Engine y su controlador Dualshock 2. 
        El equipo también incorpora un lector de DVD y 2 puertos USB 1.1 (algunos controladores utilizan estos puertos). 
        Dispone de un puerto Ethernet para que pueda ser utilizado el servicio de internet
        </p>
        <div class="caracteristicas_images">
            <img src="assets/images/Dualshock2.jfif" alt="Dualshock Ps2">
            <img src="assets/images/ethernet_wire.png" alt="Cable ethernet">
        </div>
    </div>
    <br>
    <br>
    <h1>Modelos</h1>

    <p>
        La PlayStation 2 ha pasado por muchas revisiones, algunas solamente en la construcción interna y otras con grandes cambios en el aspecto. Son coloquialmente conocidas como V0, V1, V2, V3... hasta la V19.
        PlayStation 2 tiene dos modelos: El modelo original con un tamaño grande y grueso el cual se suele conocer por el término inglés "Fat", 
        y el modelo que se rediseñó para reducir dimensiones más delgado que se suele conocer por el mismo término en inglés "Slim".
    </p>
    
<h2>Modelo "Slim"</h2>
    
    <div class="texto_imagen">
        <p>
            La PlayStation 2 Slim es una revisión de la videoconsola que fue lanzada en septiembre de 2004
            , más conocida como PlayStation 2 delgada "Slim", el rediseño fue hecho por Sony Computer Entertainment. 
            Es una PlayStation bastante menor en cuanto a su tamaño en comparación a la antigua Playstation 2.
            A finales de 2005 se encontró que algunas fuentes de alimentación de los modelos delgados negros eran defectuosas y podían recalentarse.
            El día 9 de julio de 2005 Sony sacó la V15 con los problemas solucionados.
            Otra versión mejorada del modelo slim de PlayStation 2 fue lanzada en el año 2007 que incorporó la fuente de alimentación como parte de la consola, 
            y un ventilador más silencioso que logró bajar la temperatura interna
        </p>
        <img src="assets/images/ps2_slim.jfif" alt="Ps2 Slim">
    </div>

<h2>Modelo "Fat"</h2>

    <div class="texto_imagen">
        <p>
            Este modelo fue el primero y el original, este es muy caracteristico a simple vista por su tamaño, sin embargo
            existe una enorme diferencia entre las dos consolas, cambia la distribución de casi todos los componentes e incluso la forma de introducir los juegos.
            Este modelo no tría un receptor infrarrojo para la lectura del dvd. Uno de los cambios más significativos es sin duda el de la apertura de la tapa para 
            introducir los juegos. Una diferencia hasta el punto de que en la Slim es una “apertura manual” y con pulsar un botón se abre hacia arriba (incluso estando apagada) 
            y la del primer modelo o fat es de una forma “mecánica” necesitando suministro de electricidad para poder deslizar hacia afuera la bandeja por medio de un pequeño motor 
            en su interior al igual que muchos reproductores de DVD
        </p>
        <img src="assets/images/ps2_fat.jfif" alt="Ps2 Fat">
    </div>