<body>
    <div class="contenedor_titulo"> 
        <img  class="titulo" src="assets/images/ps2Logo.png" alt="ps2 titulo">
        <img  class="ps_logo" src="assets/images/playstationlogo.jpg" alt="Playstation logo">
    </div>
    
    <div class="botonera">
        <ul class="navegacion">
            <li class="liboton"><a class="item" href="index.html">Inicio</a></li>
            <li class="liboton"><a class="item" href="juegos.html">Juegos</a></li>
            <li class="liboton"><a class="item" href="registro.html">Registro</a></li>
        </ul>
    </div>
    
    <h1>catalogo de juegos</h1>

    <p>
        La Playstation 2 cuenta con un gran número de títulos disponibles (más de 3500, teniendo en cuenta todo el mundo, 
        ya que en realidad no salieron todos esos juegos en un solo continente).
        En el transcurso de sus grandes ventas, se dan lanzamientos de muchos títulos importantes y algunas exclusivas que favorecieron a la consola
        ejemplos de estos son los siguientes:
    </p>
    <ul>
        <li>Resident Evil</li>
        <li>God of War</li>
        <li>Gran Turismo</li>
        <li>Final Fantasy</li>
        <li>Devil May Cry</li>
    </ul>
    <p>Entre otros...</p>
    
    <h1>Juegos a la venta</h1>
    <p>Elija uno de los siguientes juegos para agregar al carrito de compra</p>

    <div>
        <app-game-list></app-game-list>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="foot">
        <p>Pagina creada por Luciano Casalanguita</p>
        <p>Sugerencias a casaluciano12&#64;hotmail.com</p>
    </div>
</body>