<table>
    <thead>
            <tr>
                <th>Caratula</th>
                <th>Nombre</th>
                <th>Fecha de Salida</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Comprar</th>
            </tr>
    </thead>
    <tbody>
        @for (game of games; track game.nombre) {
            <tr>
                <td class="caratulas_juegos"><img class="img-thumbnail w-50" [src]="game.caratula" [alt] ="game.nombre"></td>
                <td>{{ game.nombre }}</td>
                <td>{{ game.fecha_salida }}</td>
                <td>{{ game.precio }}</td>
                @if (game.stock >0) {
                    <td>{{ game.stock }}</td>
                } @else {
                    <td>SIN STOCK</td>
                }
                <td>
                    <button class="btn btn-primary" (click)="restar_cantidad(game)">-</button>

                    <input 
                    class="form-control-sm" 
                    type= "number"  
                    inputmode="numeric"
                    [max]="game.stock"
                    [(ngModel)]="game.cantidad" 
                    >
                    
                    <button class="btn btn-primary" (click)="aumentar_cantidad(game)">+</button>
                </td>
            </tr>
        } @empty {
            <tr>
            <td>No hay juegos para mostrar.</td>
            </tr>
        }
    </tbody>
</table>
