.caratulas_juegos{
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #CCCCCC;
    padding: 8px;
    text-align: left;
    color: #FFFFFF;
}
th {
    background-color: #555555;
    color: white;
}
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }


  input[type="number"] {
    -moz-appearance: textfield;
  }